Need to modify the CSV file

In [27]:
import pandas as pd

gamelogs = pd.read_csv('Gamelogs19-20.csv')

gamelogs.rename(columns={'Rk ATL':'Team'}, inplace=True)

gamelogs

,Team,G,Date,Unnamed: 3,Opp,W/L,Tm,Opp.1,ORtg,DRtg,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,ATL,1,2019-10-24,@,DET,W,117,100,120.9,103.3,...,18,21,0.857,8,42,27,9,2,13,15
1,ATL,2,2019-10-26,NaN,ORL,W,103,99,104.2,100.2,...,8,15,0.533,9,52,22,5,9,18,26
2,ATL,3,2019-10-28,NaN,PHI,L,103,105,96.1,98.0,...,22,32,0.688,8,45,23,12,3,21,25
3,ATL,4,2019-10-29,@,MIA,L,97,112,95.0,109.6,...,16,24,0.667,9,33,28,14,7,20,29
4,ATL,5,2019-10-31,NaN,MIA,L,97,106,101.8,111.2,...,18,26,0.692,16,50,20,5,5,16,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1937,WAS,60,2020-03-03,@,SAC,L,126,133,120.1,126.8,...,28,34,0.824,2,31,28,10,5,14,22
1938,WAS,61,2020-03-04,@,POR,L,104,125,103.3,124.1,...,13,21,0.619,18,48,27,8,4,10,29
1939,WAS,62,2020-03-06,NaN,ATL,W,118,112,120.0,113.9,...,31,35,0.886,9,38,24,9,4,16,19
1940,WAS,63,2020-03-08,NaN,MIA,L,89,100,95.9,107.8,...,18,21,0.857,4,29,19,11,2,13,26
1941,WAS,64,2020-03-10,NaN,NYK,W,122,115,122.0,115.0,...,38,45,0.844,9,37,23,8,4,16,25

In [28]:
gamelogs2 = pd.read_csv('Gamelogs19-20.csv')

gamelogs2.rename(columns={'Opp':'Team'}, inplace=True)

gamelogs2

,Rk ATL,G,Date,Unnamed: 3,Team,W/L,Tm,Opp.1,ORtg,DRtg,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,ATL,1,2019-10-24,@,DET,W,117,100,120.9,103.3,...,18,21,0.857,8,42,27,9,2,13,15
1,ATL,2,2019-10-26,NaN,ORL,W,103,99,104.2,100.2,...,8,15,0.533,9,52,22,5,9,18,26
2,ATL,3,2019-10-28,NaN,PHI,L,103,105,96.1,98.0,...,22,32,0.688,8,45,23,12,3,21,25
3,ATL,4,2019-10-29,@,MIA,L,97,112,95.0,109.6,...,16,24,0.667,9,33,28,14,7,20,29
4,ATL,5,2019-10-31,NaN,MIA,L,97,106,101.8,111.2,...,18,26,0.692,16,50,20,5,5,16,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1937,WAS,60,2020-03-03,@,SAC,L,126,133,120.1,126.8,...,28,34,0.824,2,31,28,10,5,14,22
1938,WAS,61,2020-03-04,@,POR,L,104,125,103.3,124.1,...,13,21,0.619,18,48,27,8,4,10,29
1939,WAS,62,2020-03-06,NaN,ATL,W,118,112,120.0,113.9,...,31,35,0.886,9,38,24,9,4,16,19
1940,WAS,63,2020-03-08,NaN,MIA,L,89,100,95.9,107.8,...,18,21,0.857,4,29,19,11,2,13,26
1941,WAS,64,2020-03-10,NaN,NYK,W,122,115,122.0,115.0,...,38,45,0.844,9,37,23,8,4,16,25

In [29]:
# make a column with the index values
gamelogs2.reset_index(inplace=True)

# merge the two dataframes based on the selected columns.
combined = gamelogs.merge(gamelogs2, on=['Date', 'Team'])

combined

,Team,G_x,Date,Unnamed: 3_x,Opp,W/L_x,Tm_x,Opp.1_x,ORtg_x,DRtg_x,...,FT_y,FTA_y,FT%_y,ORB_y,TRB_y,AST_y,STL_y,BLK_y,TOV_y,PF_y
0,ATL,1,2019-10-24,@,DET,W,117,100,120.9,103.3,...,20,22,0.909,9,39,20,6,5,13,20
1,ATL,2,2019-10-26,NaN,ORL,W,103,99,104.2,100.2,...,24,26,0.923,17,46,15,8,7,10,15
2,ATL,3,2019-10-28,NaN,PHI,L,103,105,96.1,98.0,...,20,25,0.800,12,49,22,12,11,21,29
3,ATL,4,2019-10-29,@,MIA,L,97,112,95.0,109.6,...,33,45,0.733,13,49,19,11,6,26,22
4,ATL,5,2019-10-31,NaN,MIA,L,97,106,101.8,111.2,...,12,19,0.632,9,41,29,12,9,13,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,WAS,60,2020-03-03,@,SAC,L,126,133,120.1,126.8,...,20,24,0.833,8,42,23,13,2,15,24
1615,WAS,61,2020-03-04,@,POR,L,104,125,103.3,124.1,...,28,32,0.875,7,47,24,7,11,15,24
1616,WAS,62,2020-03-06,NaN,ATL,W,118,112,120.0,113.9,...,8,12,0.667,6,36,25,9,4,17,25
1617,WAS,63,2020-03-08,NaN,MIA,L,89,100,95.9,107.8,...,23,28,0.821,5,46,21,7,8,20,25
1618,WAS,64,2020-03-10,NaN,NYK,W,122,115,122.0,115.0,...,23,31,0.742,8,36,30,10,3,18,29

In [30]:
combined = combined.iloc[:,0:40]

combined.rename(columns={'DRtg_y':'OppDefRtg'}, inplace=True)

combined

,Team,G_x,Date,Unnamed: 3_x,Opp,W/L_x,Tm_x,Opp.1_x,ORtg_x,DRtg_x,...,index,Rk ATL,G_y,Unnamed: 3_y,W/L_y,Tm_y,Opp.1_y,ORtg_y,OppDefRtg,Pace_y
0,ATL,1,2019-10-24,@,DET,W,117,100,120.9,103.3,...,523,DET,2,NaN,L,100,117,103.3,120.9,96.8
1,ATL,2,2019-10-26,NaN,ORL,W,103,99,104.2,100.2,...,1363,ORL,2,@,L,99,103,100.2,104.2,98.8
2,ATL,3,2019-10-28,NaN,PHI,L,103,105,96.1,98.0,...,1429,PHI,3,@,W,105,103,98.0,96.1,107.2
3,ATL,4,2019-10-29,@,MIA,L,97,112,95.0,109.6,...,977,MIA,4,NaN,W,112,97,109.6,95.0,102.1
4,ATL,5,2019-10-31,NaN,MIA,L,97,106,101.8,111.2,...,978,MIA,5,@,W,106,97,111.2,101.8,95.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,WAS,60,2020-03-03,@,SAC,L,126,133,120.1,126.8,...,1683,SAC,61,NaN,W,133,126,126.8,120.1,104.9
1615,WAS,61,2020-03-04,@,POR,L,104,125,103.3,124.1,...,1619,POR,63,NaN,W,125,104,124.1,103.3,100.7
1616,WAS,62,2020-03-06,NaN,ATL,W,118,112,120.0,113.9,...,63,ATL,64,@,L,112,118,113.9,120.0,98.3
1617,WAS,63,2020-03-08,NaN,MIA,L,89,100,95.9,107.8,...,1037,MIA,64,@,W,100,89,107.8,95.9,92.8
1618,WAS,64,2020-03-10,NaN,NYK,W,122,115,122.0,115.0,...,1296,NYK,65,@,L,115,122,115.0,122.0,100.0

In [31]:
combined = combined.drop(['Unnamed: 3_x', 'DRtg_x' ,'index', 'Rk ATL', 'Unnamed: 3_y', 'W/L_y', 'Tm_y', 'Opp.1_y'], axis=1)

In [32]:
combined

,Team,G_x,Date,Opp,W/L_x,Tm_x,Opp.1_x,ORtg_x,Pace_x,TOV%_x,...,TRB_x,AST_x,STL_x,BLK_x,TOV_x,PF_x,G_y,ORtg_y,OppDefRtg,Pace_y
0,ATL,1,2019-10-24,DET,W,117,100,120.9,96.8,12.0,...,42,27,9,2,13,15,2,103.3,120.9,96.8
1,ATL,2,2019-10-26,ORL,W,103,99,104.2,98.8,16.6,...,52,22,5,9,18,26,2,100.2,104.2,98.8
2,ATL,3,2019-10-28,PHI,L,103,105,96.1,107.2,17.6,...,45,23,12,3,21,25,3,98.0,96.1,107.2
3,ATL,4,2019-10-29,MIA,L,97,112,95.0,102.1,17.6,...,33,28,14,7,20,29,4,109.6,95.0,102.1
4,ATL,5,2019-10-31,MIA,L,97,106,101.8,95.3,13.9,...,50,20,5,5,16,15,5,111.2,101.8,95.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,WAS,60,2020-03-03,SAC,L,126,133,120.1,104.9,12.8,...,31,28,10,5,14,22,61,126.8,120.1,104.9
1615,WAS,61,2020-03-04,POR,L,104,125,103.3,100.7,8.2,...,48,27,8,4,10,29,63,124.1,103.3,100.7
1616,WAS,62,2020-03-06,ATL,W,118,112,120.0,98.3,14.9,...,38,24,9,4,16,19,64,113.9,120.0,98.3
1617,WAS,63,2020-03-08,MIA,L,89,100,95.9,92.8,13.0,...,29,19,11,2,13,26,64,107.8,95.9,92.8
1618,WAS,64,2020-03-10,NYK,W,122,115,122.0,100.0,14.6,...,37,23,8,4,16,25,65,115.0,122.0,100.0

In [33]:
combined = combined.drop(['G_y', 'ORtg_y' ,'Pace_y', 'AST_x', 'STL_x', 'BLK_x'], axis=1)

combined

,Team,G_x,Date,Opp,W/L_x,Tm_x,Opp.1_x,ORtg_x,Pace_x,TOV%_x,...,3PA_x,3P%_x,FT_x,FTA_x,FT%_x,ORB_x,TRB_x,TOV_x,PF_x,OppDefRtg
0,ATL,1,2019-10-24,DET,W,117,100,120.9,96.8,12.0,...,31,0.355,18,21,0.857,8,42,13,15,120.9
1,ATL,2,2019-10-26,ORL,W,103,99,104.2,98.8,16.6,...,30,0.300,8,15,0.533,9,52,18,26,104.2
2,ATL,3,2019-10-28,PHI,L,103,105,96.1,107.2,17.6,...,27,0.333,22,32,0.688,8,45,21,25,96.1
3,ATL,4,2019-10-29,MIA,L,97,112,95.0,102.1,17.6,...,39,0.282,16,24,0.667,9,33,20,29,95.0
4,ATL,5,2019-10-31,MIA,L,97,106,101.8,95.3,13.9,...,34,0.206,18,26,0.692,16,50,16,15,101.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,WAS,60,2020-03-03,SAC,L,126,133,120.1,104.9,12.8,...,38,0.421,28,34,0.824,2,31,14,22,120.1
1615,WAS,61,2020-03-04,POR,L,104,125,103.3,100.7,8.2,...,35,0.314,13,21,0.619,18,48,10,29,103.3
1616,WAS,62,2020-03-06,ATL,W,118,112,120.0,98.3,14.9,...,31,0.484,31,35,0.886,9,38,16,19,120.0
1617,WAS,63,2020-03-08,MIA,L,89,100,95.9,92.8,13.0,...,47,0.404,18,21,0.857,4,29,13,26,95.9
1618,WAS,64,2020-03-10,NYK,W,122,115,122.0,100.0,14.6,...,35,0.400,38,45,0.844,9,37,16,25,122.0

In [34]:
print(combined)

     Team  G_x        Date  Opp W/L_x  Tm_x  Opp.1_x  ORtg_x  Pace_x  TOV%_x  \
0     ATL    1  2019-10-24  DET     W   117      100   120.9    96.8    12.0
1     ATL    2  2019-10-26  ORL     W   103       99   104.2    98.8    16.6
2     ATL    3  2019-10-28  PHI     L   103      105    96.1   107.2    17.6
3     ATL    4  2019-10-29  MIA     L    97      112    95.0   102.1    17.6
4     ATL    5  2019-10-31  MIA     L    97      106   101.8    95.3    13.9
...   ...  ...         ...  ...   ...   ...      ...     ...     ...     ...
1614  WAS   60  2020-03-03  SAC     L   126      133   120.1   104.9    12.8
1615  WAS   61  2020-03-04  POR     L   104      125   103.3   100.7     8.2
1616  WAS   62  2020-03-06  ATL     W   118      112   120.0    98.3    14.9
1617  WAS   63  2020-03-08  MIA     L    89      100    95.9    92.8    13.0
1618  WAS   64  2020-03-10  NYK     W   122      115   122.0   100.0    14.6

      ...  3PA_x  3P%_x  FT_x  FTA_x  FT%_x  ORB_x  TRB_x  TOV_x  PF_x  \
0     ...     31  0.355    18     21  0.857      8     42     13    15
1     ...     30  0.300     8     15  0.533      9     52     18    26
2     ...     27  0.333    22     32  0.688      8     45     21    25
3     ...     39  0.282    16     24  0.667      9     33     20    29
4     ...     34  0.206    18     26  0.692     16     50     16    15
...   ...    ...    ...   ...    ...    ...    ...    ...    ...   ...
1614  ...     38  0.421    28     34  0.824      2     31     14    22
1615  ...     35  0.314    13     21  0.619     18     48     10    29
1616  ...     31  0.484    31     35  0.886      9     38     16    19
1617  ...     47  0.404    18     21  0.857      4     29     13    26
1618  ...     35  0.400    38     45  0.844      9     37     16    25

      OppDefRtg
0         120.9
1         104.2
2          96.1
3          95.0
4         101.8
...         ...
1614      120.1
1615      103.3
1616      120.0
1617       95.9
1618      122.0

[1619 rows x 26 columns]

In [35]:
combined = combined.drop(['FT_x', 'FTA_x' ,'FT%_x'], axis=1)

combined

,Team,G_x,Date,Opp,W/L_x,Tm_x,Opp.1_x,ORtg_x,Pace_x,TOV%_x,...,FGA_x,FG%_x,3P_x,3PA_x,3P%_x,ORB_x,TRB_x,TOV_x,PF_x,OppDefRtg
0,ATL,1,2019-10-24,DET,W,117,100,120.9,96.8,12.0,...,86,0.512,11,31,0.355,8,42,13,15,120.9
1,ATL,2,2019-10-26,ORL,W,103,99,104.2,98.8,16.6,...,84,0.512,9,30,0.300,9,52,18,26,104.2
2,ATL,3,2019-10-28,PHI,L,103,105,96.1,107.2,17.6,...,84,0.429,9,27,0.333,8,45,21,25,96.1
3,ATL,4,2019-10-29,MIA,L,97,112,95.0,102.1,17.6,...,83,0.422,11,39,0.282,9,33,20,29,95.0
4,ATL,5,2019-10-31,MIA,L,97,106,101.8,95.3,13.9,...,88,0.409,7,34,0.206,16,50,16,15,101.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,WAS,60,2020-03-03,SAC,L,126,133,120.1,104.9,12.8,...,80,0.513,16,38,0.421,2,31,14,22,120.1
1615,WAS,61,2020-03-04,POR,L,104,125,103.3,100.7,8.2,...,103,0.388,11,35,0.314,18,48,10,29,103.3
1616,WAS,62,2020-03-06,ATL,W,118,112,120.0,98.3,14.9,...,76,0.474,15,31,0.484,9,38,16,19,120.0
1617,WAS,63,2020-03-08,MIA,L,89,100,95.9,92.8,13.0,...,78,0.333,19,47,0.404,4,29,13,26,95.9
1618,WAS,64,2020-03-10,NYK,W,122,115,122.0,100.0,14.6,...,74,0.473,14,35,0.400,9,37,16,25,122.0

In [36]:
print(combined)

     Team  G_x        Date  Opp W/L_x  Tm_x  Opp.1_x  ORtg_x  Pace_x  TOV%_x  \
0     ATL    1  2019-10-24  DET     W   117      100   120.9    96.8    12.0
1     ATL    2  2019-10-26  ORL     W   103       99   104.2    98.8    16.6
2     ATL    3  2019-10-28  PHI     L   103      105    96.1   107.2    17.6
3     ATL    4  2019-10-29  MIA     L    97      112    95.0   102.1    17.6
4     ATL    5  2019-10-31  MIA     L    97      106   101.8    95.3    13.9
...   ...  ...         ...  ...   ...   ...      ...     ...     ...     ...
1614  WAS   60  2020-03-03  SAC     L   126      133   120.1   104.9    12.8
1615  WAS   61  2020-03-04  POR     L   104      125   103.3   100.7     8.2
1616  WAS   62  2020-03-06  ATL     W   118      112   120.0    98.3    14.9
1617  WAS   63  2020-03-08  MIA     L    89      100    95.9    92.8    13.0
1618  WAS   64  2020-03-10  NYK     W   122      115   122.0   100.0    14.6

      ...  FGA_x  FG%_x  3P_x  3PA_x  3P%_x  ORB_x  TRB_x  TOV_x  PF_x  \
0     ...     86  0.512    11     31  0.355      8     42     13    15
1     ...     84  0.512     9     30  0.300      9     52     18    26
2     ...     84  0.429     9     27  0.333      8     45     21    25
3     ...     83  0.422    11     39  0.282      9     33     20    29
4     ...     88  0.409     7     34  0.206     16     50     16    15
...   ...    ...    ...   ...    ...    ...    ...    ...    ...   ...
1614  ...     80  0.513    16     38  0.421      2     31     14    22
1615  ...    103  0.388    11     35  0.314     18     48     10    29
1616  ...     76  0.474    15     31  0.484      9     38     16    19
1617  ...     78  0.333    19     47  0.404      4     29     13    26
1618  ...     74  0.473    14     35  0.400      9     37     16    25

      OppDefRtg
0         120.9
1         104.2
2          96.1
3          95.0
4         101.8
...         ...
1614      120.1
1615      103.3
1616      120.0
1617       95.9
1618      122.0

[1619 rows x 23 columns]

In [37]:
combined.to_csv("combined.csv")